@import "tailwindcss";
/* @import "tw-animate-css"; */




@font-face {
    font-family: 'Canva Sans';
    src: url("/fonts/CanvaSans-Bold.woff2") format("woff2"), url("/fonts/CanvaSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Canva Sans';
    src: url("/fonts/CanvaSans-Medium.woff2") format("woff2"), url("/fonts/CanvaSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Canva Sans';
    src: url("/fonts/CanvaSans-Regular.woff2") format("woff2"), url("/fonts/CanvaSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Canva Sans Display';
    src: url("/fonts/CanvaSansDisplay-Bold.woff2") format("woff2"), url("/fonts/CanvaSansDisplay-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}


@theme {
    --color-sit-yellow: #FAAB08;
    --color-sit-red: #E9485A;
    --color-sit-light-blue: #0193D8;
    --color-sit-dark-blue: #01388B;
    --color-sit-gray: #4A5565;
    --pattern-fg: #4A5565;
    --Canva-Sans: 'Canva Sans';
    --Canva-Sans-Display: 'Canva Sans Display';

}